@import "base";
@import "login";
header {
  .header {
    padding: $padding-org;

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: $border;
      padding-bottom: $padding;

      .hamburger {
        cursor: pointer;
        i {
          font-size: 1.6rem;
        }
      }
      .logo {
        width: 92px;
        height: 22px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .question {
        width: 17px;
        height: 17px;
        img {
          width: 100%;
          height: 100%;
        }

        &__box {
          position: fixed;
          top: 0;
          right: 0;
          width: 100%;
          height: 100vh;
          z-index: 2;
          background-color: $color-neutral-00;
          transition: transform 0.3s ease-in;
          transform: translateY(100%);

          &.active {
            transform: translateY(0);
          }

          .box-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $padding + 3 $padding * 2;
            background-color: $color-primary-500;
            color: $color-neutral-00;
            h1 {
              font-weight: normal;
            }
            i {
              font-size: 1.6rem;
            }
          }
          .box-content {
            padding: $padding * 2 $padding;

            .second-row {
              p {
                margin: $margin 0;
                line-height: 2rem;
              }
            }
            .common-question {
              margin: $margin * 3 0;
              width: 100%;

              ul {
                padding: $padding;

                li {
                  padding: $padding * 2 $padding;
                  border: $border-secondary;
                  border-radius: $radius-secondary;
                  margin-bottom: $margin * 2;

                  &.show {
                    .question-title {
                      i {
                        transform: rotate(180deg);
                      }
                    }
                    .answer-detail {
                      display: block;
                    }
                  }

                  .question-title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.3rem;

                    i {
                      transition: all 0.3s ease;
                    }
                  }
                  .answer-detail {
                    border-top: $border;
                    padding-top: $padding;
                    margin-top: $margin * 2;
                    font-size: 1.2rem;
                    line-height: 2.5rem;
                    display: none;
                  }
                }
              }
            }
            .third-row {
              text-align: center;
              margin-bottom: $margin * 2;
            }
            .btn {
              width: 200px;
              margin: 0 auto;
              padding: $padding;
              border-radius: $radius + 20;
              background-color: $color-button-secondary;

              a {
                color: $color-button-text-secondary;
                display: flex;
                align-items: center;
                justify-content: space-around;
              }
            }
          }
        }
      }
    }

    &__middle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: $padding;

      .middle-right {
        width: 80%;
        max-width: 750px;
        .logo {
          display: none;
          a {
            display: block;
          }
        }
        .search-box {
          display: flex;
          align-items: center;
          padding: 1.3rem 1rem;
          border-radius: $radius;
          background-color: $color-neutral-100;
          color: $color-neutral-500;
          min-width: 100px;
          margin-left: $margin;

          i {
            font-size: 1.7rem;
            margin-left: $margin;
          }
          span {
            font-size: 1.1rem;
          }
        }
      }
      .middle-left {
        display: flex;
        align-items: center;

        .sign {
          margin-left: $margin + 10;

          a {
            display: flex;
            align-items: center;
            img {
              width: 20px;
              height: 24px;
              transform: rotate(180deg);
              object-fit: contain;
              margin-left: $margin;
            }

            .sign-in {
              cursor: pointer;
            }
            .sign-up {
              display: none;
            }
          }
        }
        .cart {
          img {
            width: 20px;
            height: 24px;
            object-fit: contain;
          }
        }
      }
    }
    &__bottom {
      border-top: $border;
      padding-top: $padding;
      margin-top: $margin;

      .bottom-right {
        width: 300px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: $color-neutral-00;
        z-index: 2;

        .backdrop {
          position: fixed;
          top: 0;
          right: 0;
          width: 100%;
          height: 100vh;
          background-color: $color-neutral-900;
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s ease-in-out;

          &.active {
            opacity: 0.4;
            pointer-events: auto;
          }
        }
        .menu {
          position: fixed;
          top: 0;
          right: 0;
          width: 300px;
          height: 100vh;
          overflow-y: auto;
          background-color: $color-neutral-00;
          transition: all 0.3s ease-in-out;
          color: $color-neutral-700;
          -ms-overflow-style: none; /* Internet Explorer 10+ */
          scrollbar-width: none; /* Firefox */
          transform: translate(100%);
          opacity: 0;
          // pointer-events: none;

          &::-webkit-scrollbar {
            display: none;
          }

          &.active {
            opacity: 1;
            transform: translate(0);
            pointer-events: unset;
          }

          .nav-logo {
            width: 100%;
            display: block;
            border-bottom: $border;
            padding: $padding $padding * 2;

            img {
              height: 24px;
              cursor: pointer;
            }
          }
          .markets {
            padding: $padding $padding * 2;
            padding-top: $padding;
          }
          .markets,
          .question {
            font-size: 1.3rem;
            div {
              margin-bottom: $margin * 2;
              cursor: pointer;

              i {
                width: 24px;
                height: 24px;
                margin-left: $margin;
                font-size: 1.8rem;
                color: $color-icon-low-emphasis;
              }
            }
          }
          .question {
            padding: $padding $padding * 2;
            border-bottom: $border;
          }
          .categories {
            // padding: $padding $padding * 2;
            padding-top: $padding;
            &__icon {
              display: none;
            }
            &__title {
              font-size: 1.4rem;
              color: $color-neutral-900;
              padding: $padding $padding;
              display: block;
            }
            .first-row {
              & > li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.3rem;
                margin: $margin * 2 0;
                flex-wrap: wrap;

                .icon-desk {
                  display: none;
                }

                &.active {
                  color: $color-primary-500;

                  > .icon i {
                    transform: rotate(180deg);
                  }

                  .second-row {
                    display: unset;
                  }
                }

                > .title {
                  padding-right: $padding;
                }
                > .icon {
                  padding-left: $padding * 2;
                }
              }

              .second-row {
                width: 100%;
                border-top: $border;
                background-color: $color-neutral-100;
                padding: $padding 0;
                padding-right: 2rem;
                margin: $margin 0;
                transition: all 0.3s ease-in;
                display: none;

                & > li {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin: $margin * 2 0;
                  color: $color-neutral-700;

                  i {
                    padding-left: $padding * 2;
                  }
                }
              }
            }
          }
        }
      }

      .bottom-left {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .location {
          display: flex;
          align-items: center;

          img {
            width: 18px;
            height: 18px;
            margin-left: $margin;
          }
        }
        i {
          font-size: 1.3rem;
        }
      }
    }
  }
}

main {
  #slider {
    width: 100%;
    height: 270px;
    position: relative;

    .slider {
      width: 100%;
      height: 100%;

      &:hover {
        .slider__btn {
          visibility: visible;
          opacity: 1;
        }
      }
      &__items {
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          visibility: hidden;
          opacity: 0;

          &.active {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      &__btn {
        position: absolute;
        bottom: 40px;
        right: 40px;
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        .next-btn,
        .prev-btn {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-neutral-00;
          border-radius: 100%;
          margin-right: $margin;

          i {
            font-size: 1.2rem;
            color: $color-neutral-700;
          }
        }
      }

      &__navigation {
        position: absolute;
        left: 20px;
        bottom: 10px;
        display: flex;
        align-items: center;

        li {
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background-color: $color-neutral-500;
          margin: 0 5px;

          &.active {
            width: 16px;
            height: 7px;
            border-radius: $radius;
            background-color: $color-neutral-00;
          }
        }
      }
    }
  }
  #digi-link {
    .link__items {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      margin-top: $margin * 2;
      padding: 0 $padding;

      li {
        margin-bottom: $margin * 2;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 52px;
            height: 52px;
          }
          span {
            margin-top: $margin;
            font-size: 1rem;
            color: $color-neutral-700;
          }
        }
      }
    }
  }
  #amazing-slider {
    margin-bottom: $margin;
    .swiper-container {
      padding: $padding 0;
      background: linear-gradient(
        to top,
        $color-primary-500,
        $color-primary-700
      );
      overflow: hidden;

      .swiper-wrapper {
        touch-action: pan-y;
        transform: translate3d(0, 0, 0);
        .swiper {
          display: flex;
          align-items: center;

          .swiper-first {
            padding: 0 $padding;

            .intro {
              padding: 0 $padding;

              a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .intro__title {
                  width: 92px;
                  height: 77px;
                }
                .intro__image {
                  width: 145px;
                  height: 115px;
                }

                .intro__title,
                .intro__image {
                  margin-bottom: $margin;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
                .intro__detail {
                  padding-bottom: $padding;
                  color: $color-neutral-00;

                  i {
                    font-size: 0.9rem;
                    margin-right: 2px;
                  }
                }
              }
            }
          }
          .swiper-slides {
            border-radius: $radius;

            ul {
              background-color: transparent;
              display: flex;
              align-items: center;
              overflow: hidden;

              li {
                width: 154px;
                min-width: 154px;
                background-color: $color-neutral-00;
                margin-left: 4px;

                a {
                  padding: $padding;
                  display: block;

                  .slide-image {
                    width: 130px;
                    height: 130px;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .slide-price {
                    margin: $margin 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .discount {
                      width: 40px;
                      height: 20px;
                      background-color: $color-primary-500;
                      color: $color-neutral-00;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-radius: $radius;
                    }
                    .new-price {
                      span {
                        font-size: 1.3rem;
                      }
                      span:last-child {
                        font-size: 0.9rem;
                      }
                    }
                  }
                  .slide-old-price {
                    margin-top: $margin * 2;
                    text-align: left;
                    text-decoration: line-through;
                    color: $color-neutral-300;

                    span {
                      padding-left: $padding * 3;
                    }
                  }

                  .slide-progress {
                    margin-top: $margin;
                    margin-bottom: $margin - 5px;
                    direction: ltr;
                    visibility: hidden;
                    opacity: 0;

                    .progress-bar {
                      width: 100%;
                      height: 4px;
                      background-color: $color-neutral-200;
                      border-radius: $radius;
                      overflow: hidden;

                      .progress {
                        width: 80%;
                        height: 100%;
                        background-color: $color-primary-700;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  header {
    position: fixed;
    width: 100%;
    background-color: $color-neutral-00;
    z-index: 2;
    
    .header {
      padding: $padding $padding * 2;
      padding-bottom: 0;

      &__top {
        display: none;
      }

      &__middle {
        padding-top: unset;

        .middle-right {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .logo {
            display: block;
            margin-left: $margin * 2;
          }
          .search-box {
            flex-grow: 1;

            i {
              font-size: 1.7rem;
              margin-left: unset;
              margin-right: $margin;
            }
            span {
              font-size: 1.3rem;
              margin: 0 $margin * 2;
            }
          }
        }
        .middle-left {
          display: flex;
          align-items: center;

          .sign {
            display: flex;
            align-items: center;
            margin-left: $margin + 10;
            border: $border-secondary;
            padding: 5px 15px;
            border-radius: $radius-secondary;
            cursor: pointer;

            a {
              display: flex;
              align-items: center;
              img {
                width: 20px;
                height: 24px;
                transform: rotate(180deg);
                object-fit: contain;
                margin-left: $margin;
              }

              .sign-up {
                display: unset;
                margin-right: $margin;
                padding-right: $padding;
                border-right: $border-secondary;
              }
            }
          }
          .cart {
            cursor: pointer;
            img {
              width: 20px;
              height: 24px;
              object-fit: contain;
            }
          }
        }
      }
      &__bottom {
        border-top: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .bottom-right {
          width: unset;
          position: unset;
          background-color: unset;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .backdrop {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            opacity: 0;
            pointer-events: unset;
            display: none;

            &.active {
              opacity: 0.4;
              pointer-events: auto;
            }
          }

          .menu {
            position: unset;
            width: unset;
            height: unset;
            overflow-y: unset;
            background-color: unset;
            transform: unset;
            opacity: unset;
            pointer-events: unset;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .nav-logo {
              display: none;
            }

            .markets {
              padding: unset;
              padding-top: unset;
              order: 2;
              border-right: $border;
              border-left: $border;
            }
            .markets,
            .question {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 1.3rem;
              div {
                display: flex;
                align-items: center;
                margin: 0 $margin - 3px;

                i {
                  width: 15px;
                  height: 15px;
                  margin-left: 5px;
                  margin-right: $margin-m;
                  font-size: 1.4rem;
                }
              }
            }
            .question {
              order: 3;
              padding: unset;
              border-bottom: unset;
              i {
                display: none;
              }
            }
            .categories {
              order: 1;
              padding-top: unset;
              cursor: pointer;

              &:hover {
                .categories__menu {
                  display: flex;
                }
              }

              &__head {
                display: flex;
                align-items: center;

                i {
                  font-size: 1.4rem;
                }
              }
              &__icon {
                display: unset;
                margin-left: $margin;
              }
              &__title {
                font-size: 1.4rem;
                color: $color-neutral-900;
                padding: $padding 0;
                margin-left: $margin;
                display: block;
              }
              &__menu {
                position: absolute;
                top: 50px;
                width: 100%;
                display: none;
                align-items: center;
                background-color: $color-neutral-00;
                padding: 0;
                border: $border;
                transition: all 0.5s ease;
              }

              .first-row {
                border-left: $border;
                & > li {
                  justify-content: unset;
                  margin: unset;
                  padding: $padding + 5 $padding * 2;
                  transition: all 0.2s ease-in-out;
                  cursor: pointer;

                  &:hover {
                    background-color: $color-neutral-100;
                    color: $color-primary-700;
                  }

                  .icon-desk {
                    display: unset;
                  }

                  > .title {
                    font-size: 1.2rem;
                    font-weight: 500;
                  }
                  > .icon {
                    display: none;
                  }
                }

                .second-row {
                  width: 100%;
                  border-top: $border;
                  background-color: $color-neutral-100;
                  padding: $padding 0;
                  padding-right: 2rem;
                  margin: $margin 0;
                  transition: all 0.3s ease-in;
                  display: none;

                  & > li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: $margin * 2 0;
                    color: $color-neutral-700;

                    i {
                      padding-left: $padding * 2;
                    }
                  }
                }
              }
            }
          }
        }

        .bottom-left {
          display: unset;
          cursor: pointer;
          i {
            display: none;
          }
        }
      }
    }
  }
  main {
    padding-top: 114px;
    #slider {
      height: 400px;

      .slider {
        &__navigation {
          left: unset;
          right: 50px;
          bottom: 15px;
        }
      }
    }
    #digi-link {
      .link__items {
        display: flex;
        justify-content: space-evenly;
        margin: $margin * 3 auto;
        padding: 0 $padding;

        li {
          margin-bottom: 0;

          a {
            span {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    #amazing-slider {
      .swiper-container {
        border-radius: $radius + 5;
        padding: $padding * 2 0;

        .swiper-wrapper {
          .swiper {
            .swiper-first {
              .intro {
                a {
                  .intro__detail {
                    font-size: 1.4rem;
                  }
                }
              }
            }
            .swiper-slides {
              ul {
                li {
                  width: 182px;
                  min-width: 182px;

                  a {
                    .slide-image {
                      width: 150px;
                      height: 150px;
                    }
                    .slide-price {
                      .new-price {
                        span {
                          font-size: 1.4rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.x {
  width: 100%;
  height: 100vh;
  background-color: #444;
}
